---
---

<section>
  <div class="mx-auto h-95p">
    <img class="rounded-bl-50p banner-img w-full h-95p m-0 p-0" src="../../../public/img/B1.png" alt="">
  </div>
  <div class="absolute h-95p top-0 left-0 mx-auto w-full banner-gradient">
  </div>
  <div class="absolute left-1/2 text-custom-margin">
    <div>
      <p><strong class="text-white text-7xl">Conectamos vidas, </strong></p>
      <p><strong class="text-white text-7xl">creamos futuros.</strong></p>
    </div>
    <div class="flex justify-between">
      <button class="bg-[#FCB028] w-56 py-4 px-5 rounded-md mt-20 text-xl">Deseo colaborar</button>
      <button class=" border-2 border-[#FCB028] w-56 py-3 px-5 rounded-md mt-20 text-xl text-[#FCB028]">Nuestras iniciativas</button>
    </div>
  </div>
</section>

<style>
  .banner-img {
    object-fit:cover;
  }
  .banner-gradient {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.0) 50%, rgba(0,0,0,0.6) 60%, rgba(0,0,0,0.85) 100%);
  }
  .text-custom-margin{
    bottom: 40%;
    margin-left: 5%;
  }
</style>

